html {
	scroll-behavior: smooth;
	--bg-clr: #101010;
	--text-clr: #009879;
	--gr-font: 'Inter';
	--en-font: 'Nunito';
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

/* -----------------------Header------------------------------- 
	|||||||||||||||||||||||||||||||||||||||||||||||||||||
	|||||||||||||||||||||||||||||||||||||||||||||||||||||
	|||||||||||||||||||||||||||||||||||||||||||||||||||||
	VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
*/
.sticky {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 5;
}

	.sticky + .content {
		padding-top: 80px;
	}

nav {
	background: var(--bg-clr);
	width: 100%;
	height: 80px;
}

.logo_container {
	color: white;
	line-height: 80px;
	padding: 0 100px;
	font-size: 35px;
	font-weight: bold;
	font-family: var(--en-font);
}

	.logo_container span {
		color: #009879;
		font-weight: 800;
	}

nav ul {
	float: right;
	margin-right: 20px;
	font-family: var(--gr-font);
}

	nav ul li {
		display: inline-block;
		line-height: 80px;
		margin: 0 5px;
	}

		nav ul li a {
			color: white;
			font-size: 17px;
			text-transform: uppercase;
		}

			nav ul li a.active, nav ul li a:hover {
				color: aqua;
				transition: .4s ease;
			}

.bar1, .bar2, .bar3 {
	width: 20px;
	height: 1px;
	background-color: white;
	border: 1px solid white;
	border-radius: 10px;
	margin: 6px 0;
	transition: 0.4s;
}

.changeBar .bar1 {
	transform: rotate(-45deg) translate(-5px, 5px);
}

.changeBar .bar2 {
	opacity: 0;
}

.changeBar .bar3 {
	transform: rotate(45deg) translate(-8px, -8px);
}


nav .checknav {
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	margin-top: 20px;
	cursor: pointer;
	display: none;
}

.nav_checkbox {
	display: none;
}

@media (max-width: 1352px) {
	.logo_container {
		font-size: 30px;
		padding-left: 50px;
	}

	nav .checknav {
		display: block;
	}

	nav ul {
		display: block;
		margin: auto;
		position: fixed;
		width: 50%;
		height: 80vh;
		background: var(--bg-clr);
		top: 80px;
		right: -100%;
		text-align: center;
		transition: all .5s ease;
		z-index: 5;
	}

		nav ul li {
			margin: auto;
			width: 100%;
		}

			nav ul li a {
				width: 100%;
				font-size: 16px;
				display: block;
				transition: 0.6s;
			}

	#check:checked ~ ul {
		right: 0;
		transition: all .5s ease;
	}

		#check:checked ~ ul li a {
			margin-right: 0px;
		}
}

@media (max-width: 1352px) and (max-height: 660px) {
	nav ul li {
		line-height: 40px;
	}
}

/*-----------------------------------------------------------*/


/* -------------------Main-Profile Page----------------------
	|||||||||||||||||||||||||||||||||||||||||||||||||||||
	|||||||||||||||||||||||||||||||||||||||||||||||||||||
	|||||||||||||||||||||||||||||||||||||||||||||||||||||
	VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
*/

.services {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	gap: 20px;
	margin: 40px auto 40px auto;
	font-family: 'Nunito';
	width: 100%;
}

	.services h1 {
		margin-bottom: 10px;
		text-align: center;
		font-family: 'Inter', sans-serif;
		font-size: 32px;
	}

.services_inner {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: row;
	color: white;
}

.services_grid {
	margin-left: 20px;
	margin-right: 20px;
	background-color: #101010;
	max-width: 25%;
	border-radius: 10px;
	padding: 15px;
	text-align: center;
	cursor: pointer;
	box-shadow: 1px 4px 40px rgba(0,0,0,0.4);
	transition: 0.2s ease;
}
	.services_grid:hover{
		border: 5px solid var(--text-clr);
	}

	.services_grid h3 {
		font-family: 'Inter', sans-serif;
		margin-bottom: 10px;
	}

.services_image {
	height: 200px;
	width: 100%;
}

	.services_image img {
		width: 100%;
		height: 100%;
		border-radius: 10px;
		object-fit: cover;
		object-position: center;
	}

@media (max-width: 780px) {
	.services_inner {
		flex-wrap: wrap;
		gap: 20px 0;
		align-items: center;
	}

	.services_grid {
		flex: 50%;
	}
}

.services_button {
	margin: auto;
	padding: 10px;
	color: black;
	background-color: var(--text-clr);
	border-radius: 10px;
	font-style: var(--gr-font);
	font-weight: 400;
	font-size: 19px;
	transition: 0.4s ease;
}

	.services_button:hover {
		background-color: #00CCA3;
	}


/*-----------------------------------------------------------*/


/* ------------------fleet-adminMsg Page---------------------
	|||||||||||||||||||||||||||||||||||||||||||||||||||||
	|||||||||||||||||||||||||||||||||||||||||||||||||||||
	|||||||||||||||||||||||||||||||||||||||||||||||||||||
	VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
*/


.preview_box {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.9);
	background: #fff;
	max-width: 700px;
	width: 100%;
	z-index: 5;
	opacity: 0;
	pointer-events: none;
	border-radius: 3px;
	padding: 0 5px 5px 5px;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}

	.preview_box.show {
		opacity: 1;
		pointer-events: auto;
		transform: translate(-50%, -50%) scale(1);
		transition: all 0.3s ease;
	}

	.preview_box .details {
		padding: 13px 15px;
		display: flex;
		flex-direction: row-reverse;
	}

	.preview_box h3 {
		font-family: var(--gr-font);
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 15px;
	}

.details .preview_box_close {
	color: var(--text-clr);
	font-size: 22px;
	cursor: pointer;
}

.preview_box .image_box {
	width: 100%;
	display: flex;
}

.image_box img {
	width: 100%;
	border-radius: 0 0 3px 3px;
}

.shadow {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 2;
	display: none;
	background: rgba(0,0,0,0.4);
}

	.shadow.show {
		display: block;
	}



/*-----------------------------------------------------------*/


/* ------------------contact Page/admin Page-----------------
	|||||||||||||||||||||||||||||||||||||||||||||||||||||
	|||||||||||||||||||||||||||||||||||||||||||||||||||||
	|||||||||||||||||||||||||||||||||||||||||||||||||||||
	VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
*/
.contact {
	display: flex;
	padding: 0 10px;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	font-family: var(--gr-font);
}

	.contact:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background: url("../img/bg-img.jpg") no-repeat center;
		background-size: cover;
		filter: blur(50px);
		z-index: -1;
	}

.contact_box {
	max-width: 1025px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.contact_left {
	background: url("../img/bg-img.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
}

.contact_form {
	background: #fff;
}

	.contact_form header {
		font-size: 22px;
		font-weight: 600;
		padding: 20px 30px;
		border-bottom: 1px solid #ccc;
	}

	.contact_form form {
		margin: 35px 30px;
	}

		.contact_form form.disabled {
			pointer-events: none;
			opacity: 0.7;
		}


form .contact_fields {
	display: flex;
	margin-bottom: 25px;
	justify-content: space-between;
}

.contact_fields .field {
	height: 50px;
	margin: 0 5px;
}


form .field,
form .message textarea {
	padding: 0 5px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

.field::placeholder,
.message textarea::placeholder {
	color: #ccc;
}

form .message textarea {
	min-height: 130px;
	max-height: 230px;
	max-width: 100%;
	min-width: 100%;
	padding: 5px;
}



form .contact_button {
	margin: 25px 0;
	display: flex;
	align-items: center;
}

.contact_button button {
	color: white;
	border: none;
	outline: none;
	font-size: 18px;
	cursor: pointer;
	border-radius: 5px;
	padding: 13px 25px;
	background: var(--text-clr);
	transition: 0.3s ease;
}

	.contact_button button:hover {
		background: #008F72;
	}


@media (max-width: 780px) {

	.contact_box {
		display: inherit;
	}

	.contact_left {
		display: none;
	}

	.contact_form header {
		text-align: center;
	}

	.contact_form form {
		margin: 35px 20px;
	}

	form .contact_fields {
		flex-direction: column;
		margin-bottom: 0px;
	}

		form .contact_fields .field {
			width: 100%;
			height: 45px;
			margin: auto;
			margin-bottom: 20px;
		}

	form .message textarea {
		resize: none;
	}

	form .contact_button {
		margin-top: 20px;
		flex-direction: column;
	}

	.contact_button button {
		width: 100%;
		padding: 11px 0;
		font-size: 16px;
	}
}

.contact_info_scene {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 25px 50px;
}

.contact_info {
	font-family: var(--gr-font);
	display: flex;
	width: 50%;
	flex-direction: column;
}

.contact_info_scene .contact_info .contact_info_box {
	position: relative;
	padding: 20px 0;
	display: flex;
}

.contact_info_text {
	display: flex;
	margin-left: 20px;
	font-size: 16px;
	flex-direction: column;
	font-weight: 300;
}

	.contact_info_text a {
		text-decoration: none;
		color: black;
		font-size: 18px;
		transition: color .4s ease;
	}

		.contact_info_text a:hover {
			color: var(--text-clr);
		}

.contact_map {
	justify-content: left;
	width: 40%;
	margin-left: 10px;
}

@media screen and (max-width:780px) {
	.contact_info_scene {
		flex-direction: column;
		margin: auto;
	}

	.contact_info_text {
		margin: 0;
	}

	.contact_map {
		margin: auto;
		text-align: center;
		width: 100%;
	}
	.googleMap {
		width: 90%;
	}
}

.googleMap {
	width: 100%;
}

.login_box {
	width: 380px;
	background: #fff;
	border-radius: 15px;
	box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
	font-family: var(--gr-font);
	margin: 100px auto;
}

	.login_box .title {
		font-size: 30px;
		font-weight: 600;
		text-align: center;
		line-height: 100px;
		color: #fff;				/* Για την σωστη λειτουργία και στα υπόλοιπα browsers*/
		-webkit-user-select: none;	/* Safari */
		-moz-user-select: none;		/* Firefox */
		-ms-user-select: none;		/* IE10+ */
		user-select: none;
		border-radius: 15px 15px 0 0;
		background: var(--text-clr);
	}

	.login_box .login_form {
		padding: 10px 30px 50px 30px;
	}

		.login_box .login_form .login_field {
			height: 50px;
			width: 100%;
			margin-top: 20px;
			position: relative;
			z-index: 0;
		}

			.login_box .login_form .login_field input {
				height: 100%;
				width: 100%;
				outline: none;
				font-size: 17px;
				padding-left: 20px;
				border: 1px solid lightgrey;
				border-radius: 25px;
				transition: all 0.3s ease;
			}

				.login_box .login_form .login_field input:focus,
				.login_form .login_field input:valid {
					border-color: var(--text-clr);
				}

			.login_box .login_form .login_field label {
				position: absolute;
				top: 50%;
				left: 20px;
				color: #999999;
				font-weight: 400;
				font-size: 17px;
				pointer-events: none;
				transform: translateY(-50%);
				transition: all 0.3s ease;
			}

.login_form .login_field input:focus ~ label,
.login_form .login_field input:valid ~ label {
	top: 0%;
	font-size: 16px;
	color: var(--text-clr);
	background: #fff;
	transform: translateY(-50%);
}

.login_form .login_field input[type="submit"] {
	color: #fff;
	border: none;
	padding-left: 0;
	margin-top: -10px;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
	background: var(--text-clr);
	transition: all 0.3s ease;
}

	.login_form .login_field input[type="submit"]:active {
		transform: scale(0.95);
	}


.content_table {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 100px auto;
	text-align: center;
	font-family: var(--gr-font);
}

.nav_table {
	background: none;
	height: auto;
	width: 100%;
	display: flex;
	justify-content: center;
}

.table_items {
	display: flex;
	max-width: 720px;
	width: 100%;
	gap: 10px;
	justify-content: center;
}

	.table_items span {
		padding: 7px 25px;
		font-size: 18px;
		font-weight: 500;
		cursor: pointer;
		color: var(--text-clr);
		border-radius: 50px;
		border: 2px solid var(--text-clr);
		transition: all 0.3s ease;
	}

		.table_items span.active,
		.table_items span:hover {
			color: white;
			background: var(--text-clr);
		}


.table_container {
	padding: 0 10%;
	margin: 40px auto 0;
}

.clients_table {
	width: 100%;
	border-collapse: collapse;
}

	.clients_table.hide {
		display: none;
	}

	.clients_table.show {
		display: unset;
		animation: table_anim 0.4s ease;
	}

@keyframes table_anim {
	0% {
		opacity: 0%;
	}

	100% {
		opacity: 100%;
	}
}


.clients_table thead {
	background-color: var(--text-clr);
}

	.clients_table thead tr th {
		font-size: 14px;
		font-weight: bold;
		text-align: left;
		color: white;
		padding: 12px;
	}

.clients_table tbody tr td {
	font-size: 14px;
	font-weight: normal;
	padding: 12px;
}

.clients_table tbody tr {
	border-bottom: 1px solid #dddddd;
}

	.clients_table tbody tr:nth-of-type(even) {
		background-color: #f3f3f3;
	}

	.clients_table tbody tr:last-of-type {
		border-bottom: 2px solid var(--text-clr);
	}

.tb_showMsg_btn {
	padding: 7px;
	line-height: 35px;
	white-space: nowrap;
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
	color: var(--text-clr);
	border-radius: 50px;
	border: 2px solid var(--text-clr);
	transition: all 0.3s ease;
}

	.tb_showMsg_btn:hover {
		color: white;
		background: var(--text-clr);
	}

@media screen and (max-width:1100px) {
	.clients_table thead {
		visibility: hidden;
		width: 100%;
	}

	.table_container {
		margin-top: auto;
	}

	.clients_table, .clients_table tbody, .clients_table tr, .clients_table td {
		display: block;
		width: 100%;
	}

		.clients_table tr {
			padding: 12px 20px;
			margin-bottom: 15px;
		}

		.clients_table tbody tr td {
			padding: 12px 0;
			text-align: right;
			position: relative;
		}

		.clients_table td:before {
			content: attr(data-label);
			position: absolute;
			left: 0;
			width: 50%;
			padding-right: 15px;
			font-weight: bold;
			font-size: 14px;
			text-align: left;
		}
}

@media screen and (max-width: 780px) {
	.clients_table tr {
		padding: 12px 15px;
	}
}

/*-----------------------------------------------------------*/


/* ------------------footer Page-------------------------
	|||||||||||||||||||||||||||||||||||||||||||||||||||||
	|||||||||||||||||||||||||||||||||||||||||||||||||||||
	|||||||||||||||||||||||||||||||||||||||||||||||||||||
	VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
*/

.footer {
	bottom: 0;
	margin-top: auto;
	background: black;
	height: auto;
	width: 100%;
	font-family: var(--gr-font);
	padding-top: 40px;
	color: white;
}

.inner_footer {
	display: flex;
}

	.inner_footer .box {
		flex-basis: 50%;
		padding: 10px 20px;
	}

.box h2 {
	font-size: 1.1rem;
	font-weight: 600;
	text-transform: uppercase;
}

.box .ftr_content {
	margin: 20px 0 0 0;
	position: relative;
}

	.box .ftr_content:before {
		position: absolute;
		content: '';
		top: -10px;
		height: 2px;
		width: 100%;
		background: var(--bg-clr);
	}

	.box .ftr_content:after {
		position: absolute;
		content: '';
		height: 2px;
		width: 15%;
		background: var(--text-clr);
		top: -10px;
	}

.left form .ftr_text {
	font-size: 1rem;
	margin-bottom: 2px;
	color: grey;
}

.left form .nlr_fld {
	margin-top: 15px;
}

.left form input {
	color: white;
	width: 80%;
	font-size: 1rem;
	background: var(--bg-clr);
	padding-left: 10px;
	border: 1px solid var(--bg-clr);
	border-radius: 5px;
}

	.left form input:focus{
		outline-color: var(--text-clr);
	}

.left form input {
	height: 35px;
}

.left form .nlr_btn {
	margin-top: 10px;
}

	.left form .nlr_btn button {
		height: 40px;
		margin-top: 10px;
		width: 40%;
		border-radius: 5px;
		border: none;
		outline: none;
		background: var(--text-clr);
		font-size: 1rem;
		font-weight: 500;
		cursor: pointer;
		transition: .3s;
	}

		.left form .nlr_btn button:hover {
			background: #00CCA3;
		}

.center .ftr_content .ftr_contact{
	margin-bottom: 30px;
}

.center .ftr_content .ftr_text {
	font-size: 14px;
	font-weight: 400;
}

.center .ftr_content h3{
	margin-bottom: 5px;
}

.center .ftr_content a {
	color: white;
}
.center .ftr_content a:hover {
	color: aqua;
}

.right .ftr_content iframe{
	width: 100%;
}

@media screen and (max-width: 780px) {
	footer {
		position: relative;
		bottom: 0px;
	}

	.inner_footer {
		flex-wrap: wrap;
		flex-direction: column;
	}

		.inner_footer .box {
			margin: 5px 0;
		}
}

.bottom_footer {
	background: black;
	width: 100%;
	padding: 20px 0;
	text-align: center;
}

	.bottom_footer p {
		font-size: 14px;
		word-spacing: 2px;
		text-transform: capitalize;
	}
/*-----------------------------------------------------------*/
